﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <link href="~/content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="~/styles/kendo.common.min.css" rel="stylesheet">
    <link href="~/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="~/styles/kendo.default.min.css" rel="stylesheet">
    <link href="~/styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/content/shared/js/console.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
