﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="example">
    <div id="grid"></div>
    <script>
                $(document).ready(function () {
                    var crudServiceBaseUrl = "http://localhost:59147/api/Users",
                        dataSource = new kendo.data.DataSource({
                            transport: {
                                read:  {
                                    url: crudServiceBaseUrl,
                                    dataType: "json"
                                },
                                update: {
                                    url: crudServiceBaseUrl + "/DeleteUser",
                                    dataType: "json"
                                },
                                destroy: {
                                    url: crudServiceBaseUrl + "/PostUser",
                                    dataType: "json"
                                },
                                create: {
                                    url: crudServiceBaseUrl + "/PutUser",
                                    dataType: "json"
                                },
                                parameterMap: function(options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return {models: kendo.stringify(options.models)};
                                    }
                                }
                            },
                            batch: true,
                            pageSize: 20,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                        id: { editable: false, nullable: true },
                                        UserName: { type : "string", validation: { required: true } },
                                        DepartmentID: { type: "string", validation: { required: true } },
                                    }
                                }
                            }
                        });

                    $("#grid").kendoGrid({
                        dataSource: dataSource,
                        pageable: true,
                        height: 550,
                        toolbar: ["create"],
                        columns: [
                            "id",
                            { field: "UserName", title: "UserName", format: "{0:c}", width: "120px" },
                            { field: "DepartmentID", title: "DepartmentID", width: "120px" },
                            { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }],
                        editable: "inline"
                    });
                });
    </script>
</div>